{{ define "main" }}
  <header>
    {{ if .Site.Params.article.showBreadcrumbs | default false }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ .Title | emojify }}
    </h1>
  </header>
  <section class="mt-8">
    {{ range .Pages }}
      <article class="pb-6">
        <a class="flex group" href="{{ .Params.externalUrl }}">
          <div>
            <h3 class="flex text-xl font-semibold group-hover:underline group-hover:decoration-primary-500
            group-hover:underline-offset-2">
              {{ .Title }}
            </h3>
            <p class="text-sm text-neutral-500">
              {{ .Description }}
            </p>
          </div>
        </a>
      </article>
    {{ end }}
  </section>
{{ end }}
